<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yframework.system.repository.UserRepository">
    <select id="findOneByLogin" resultType="org.yframework.system.domain.User">
        SELECT *
        FROM sys_user
        WHERE login = #{login}
    </select>
</mapper>